<html>
<head>
	<title>Panama Examples - Tiles</title>
</head>
<body>
	$tiles.embed("tilesexample", "header")
	$tiles.embed("tilesexample", "hello")
	$tiles.embed("tilesexample", "hello", {"name":"Panama"})
</body>
</html>
