<html>
<head>
	<title>Panama Examples - Guestbook</title>
	<link rel="stylesheet" href="../simple.css" type="text/css">
</head>
<body>
  <form name="fm" method="POST" action="add">
	<input type="hidden" name="token" value="$context.tokens.secure" />  #* only used by SecureGuestbookController *#
    Add your comment here:
    <p>
    <textarea name="text">This is a comment</textarea>
	</p>
    <input type="submit" value="Submit" />
  </form>
  <p></p>
  <p>click column headers to sort</p>
  <table>
	<tr>
		<th><a href="$guestbookentries.sortLink('date')">Date</a></th>
		<th><a href="$guestbookentries.sortLink('text')">Comment</a></th>
	</tr>
    #foreach($entry in $guestbookentries.rows)
	<tr>
		<td>$entry.date</td>
		<td>#bold($entry.text)</td>	 #* the #bold macro is defined in the example_library.vm *#
	</tr>
    #end
  </table>
</body>
</html>
