<html>
<head>
	<title>Panama Examples - Secure Guestbook</title>
	<link rel="stylesheet" href="../simple.css" type="text/css">
</head>
<body>
	#set($examplename="Security")
	#parse("/panama/examples/exampleheader.vm")
	<form name="fm" method="POST" action="login">
	<p>Please login (username = panama, password = 42)</p>
	#if($!loginfailed)
	<p style="color:red">Login failed, please use the credentials shown above.</p>
	#end
	<input type="text" name="username" /><br />
	<input type="password" name="password"><br />
    <input type="submit" value="Login" />
  </form>
</body>
</html>
