<html>
<head>
	<title>Panama Examples</title>
	<link rel="stylesheet" href="../simple.css" type="text/css">
</head>
<body>
	<div class="examplesheader">Panama Examples</div>
	<fieldset>
		<legend>Basic</legend>
		<h4><a href="../guestbook">Guestbook</a></h4>
		<p>A short and simple guestbook shows you the basics of Panama.</p>
		<h4><a href="../tinyguestbook">Tiny Guestbook</a></h4>
		<p>An even tinier version of the guestbook as featured in the project's wiki.</p>
		<h4><a href="../fileitems">File Items</a></h4>
		<p>Shows how to handle file uploads with FileItemField class.</p>
	</fieldset>
	<fieldset>
		<legend>Advanced</legend>
		<h4><a href="../i18n">Internationalization</a></h4>
		<h4><a href="../secureguestbook">Security</a></h4>
		<p>This example shows some security related features of Panama.</p>
		<ul>
			<li>The token mechanism to prevent your applications from cross site scripting (and double submits).</li>
			<li>An easy way to implement a login to access (parts of) your application using the beforeAction() method.</li>

		</ul>
		<h4><a href="../tilesexample">Tiles</a></h4>
		<h4><a href="../issues">Issue Tracker</a><sup>[1]</sup></h4>
	</fieldset>
	<p style="font-size:90%">[1] Database required. Please see <a href="http://code.google.com/p/panama/wiki/GettingStarted" target="_blank">Getting Started</a> for details.</p>
</body>
</html>