<html>
	<head>
		<title>Panama Examples - Issues</title>
		<link rel="stylesheet" href="../simple.css" type="text/css">
	</head>
	<body>
		<form action="save" method="post">
		<input type="hidden" name="id" value="$formdata.id" />
		<table>
			<tr>
				<td>Title</td>
				<td><input name="title" value="$esc.javascript($formdata.title)"></td>
			</tr>
			<tr>
				<td>Description</td>
				<td><input name="description" value="$esc.javascript($formdata.description)"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="ok" value="OK" /><input type="submit" name="cancel" value="Cancel" />
			</tr>
		</table>
		</form>
	</body>
</html>