<html>
<head>
	<title>Panama Examples - Internationalization</title>
</head>
<body>
  <p>
  $text.supported_languages.insert($context.core.getInitParam("panama.languages"))
  </p>
  <p>
	<ul>
		<li><a href="./set?language=en">english</a></li>
		<li><a href="./set?language=de">deutsch</a></li>
		<li><a href="./set?language=fr">francais</a></li>
		<li><a href="./clear">default</a></li>
	</ul>
  <p>
  $text.currently_used_locale.insert($request.locale)
  </p>
</body>
</html>
